# Virtual environment
pytorch-env/
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyTorch model files
*.pt
*.pth

# Logs
*.log

# OS files
.DS_Store
Thumbs.db